# Milestone 1 Part 1

## `Start PreProcessing`

#### import libraries

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt  
from IPython import display

#### Explorality Data Analysis

In [2]:
# read data
df = pd.read_csv("player-value-prediction.csv")
df.shape

(14363, 92)

In [4]:
# df.describe()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14363 entries, 0 to 14362
Data columns (total 92 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             14363 non-null  int64
 1   name                           14363 non-null  object
 2   full_name                      14363 non-null  object
 3   birth_date                     14363 non-null  object
 4   age                            14363 non-null  int64
 5   height_cm                      14363 non-null  float64
 6   weight_kgs                     14363 non-null  float64
 7   positions                      14363 non-null  object
 8   nationality                    14363 non-null  object
 9   overall_rating                 14363 non-null  int64
 10  potential                      14363 non-null  int64
 11  wage                           14172 non-null  float64
 12  preferred_foot                 14363 non-null  object
 13  international_reputation(1-5)  14363 non-null  int64
 14  weak_foot(1-5)                 14363 non-null  int64
 15  skill_moves(1-5)               14363 non-null  int64
 16  work_rate                      14363 non-null  object
 17  body_type                      14363 non-null  object
 18  release_clause_euro            12881 non-null  float64
 19  club_team                      14351 non-null  object
 20  club_rating                    14351 non-null  float64
 21  club_position                  14351 non-null  object
 22  club_jersey_number             14351 non-null  float64
 23  club_join_date                 12798 non-null  object
 24  contract_end_year              14076 non-null  object
 25  national_team                  688 non-null    object
 26  national_rating                688 non-null    float64
 27  national_team_position         688 non-null    object
 28  national_jersey_number         688 non-null    float64
 29  crossing                       14363 non-null  int64
 30  finishing                      14363 non-null  int64
 31  heading_accuracy               14363 non-null  int64
 32  short_passing                  14363 non-null  int64
 33  volleys                        14363 non-null  int64
 34  dribbling                      14363 non-null  int64
 35  curve                          14363 non-null  int64
 36  freekick_accuracy              14363 non-null  int64
 37  long_passing                   14363 non-null  int64
 38  ball_control                   14363 non-null  int64
 39  acceleration                   14363 non-null  int64
 40  sprint_speed                   14363 non-null  int64
 41  agility                        14363 non-null  int64
 42  reactions                      14363 non-null  int64
 43  balance                        14363 non-null  int64
 44  shot_power                     14363 non-null  int64
 45  jumping                        14363 non-null  int64
 46  stamina                        14363 non-null  int64
 47  strength                       14363 non-null  int64
 48  long_shots                     14363 non-null  int64
 49  aggression                     14363 non-null  int64
 50  interceptions                  14363 non-null  int64
 51  positioning                    14363 non-null  int64
 52  vision                         14363 non-null  int64
 53  penalties                      14363 non-null  int64
 54  composure                      14363 non-null  int64
 55  marking                        14363 non-null  int64
 56  standing_tackle                14363 non-null  int64
 57  sliding_tackle                 14363 non-null  int64
 58  GK_diving                      14363 non-null  int64
 59  GK_handling                    14363 non-null  int64
 60  GK_kicking                     14363 non-null  int64
 61  GK_positioning                 14363 non-null  int64
 62  GK_reflexes                    14363 non-null  int64
 63  tags                           1121 non-null   object
 64  traits                         6504 non-null   object
 65  LS                             12691 non-null  object
 66  ST                             12691 non-null  object
 67  RS                             12691 non-null  object
 68  LW                             12691 non-null  object
 69  LF                             12691 non-null  object
 70  CF                             12691 non-null  object
 71  RF                             12691 non-null  object
 72  RW                             12691 non-null  object
 73  LAM                            12691 non-null  object
 74  CAM                            12691 non-null  object
 75  RAM                            12691 non-null  object
 76  LM                             12691 non-null  object
 77  LCM                            12691 non-null  object
 78  CM                             12691 non-null  object
 79  RCM                            12691 non-null  object
 80  RM                             12691 non-null  object
 81  LWB                            12691 non-null  object
 82  LDM                            12691 non-null  object
 83  CDM                            12691 non-null  object
 84  RDM                            12691 non-null  object
 85  RWB                            12691 non-null  object
 86  LB                             12691 non-null  object
 87  LCB                            12691 non-null  object
 88  CB                             12691 non-null  object
 89  RCB                            12691 non-null  object
 90  RB                             12691 non-null  object
 91  value                          14165 non-null  float64
dtypes: float64(9), int64(41), object(42)
memory usage: 10.1+ MB

#### Number of Respondents vs. Rows

In [5]:
# check Duplicate in data
# df.duplicated().sum()

In [6]:
# df.id.duplicated().sum()

#### Time Stamps

##### birth_date

In [7]:
# df.birth_date.min()

In [8]:
# df.birth_date.max()

In [9]:
# df.dtypes

In [10]:
df['birth_date'] = df['birth_date'].astype('datetime64[ns]')
# df.dtypes

##### club_join_date

In [11]:
# df.club_join_date.value_counts()

In [12]:
df['club_join_date'] = df['club_join_date'].astype('datetime64[ns]')
# df.club_join_date.dtypes

In [13]:
# df.club_join_date.value_counts()

In [14]:
# df.club_join_date.min()

In [15]:
# df.club_join_date.max()

In [16]:
# df.club_join_date.isna().sum()

In [17]:
df.club_join_date = df.club_join_date.dt.year
# df.club_join_date

In [18]:
df.club_join_date.fillna(value = df.club_join_date.mean(), inplace=True)
# df.club_join_date.isna().sum()

In [19]:
# df.club_join_date

##### contract_end_year

In [20]:
# df.contract_end_year.value_counts()

In [21]:
# df.contract_end_year.isna().sum()

In [22]:
df['contract_end_year'] = df['contract_end_year'].astype('datetime64[ns]')
# df['contract_end_year'].dtypes

In [23]:
df.contract_end_year = df.contract_end_year.dt.year
# df.contract_end_year

In [24]:
df.contract_end_year.fillna(value = df.contract_end_year.mean(), inplace=True)
# df.contract_end_year.isna().sum()

##### contract_duration

In [25]:
contract = df[['contract_end_year', 'club_join_date']]
# print(contract)
# df['contract_duration'] = contract.apply(lambda x: x[0] - x[1], axis = 1)
df.insert(len(df.columns)-1, "contract_duration", contract.apply(lambda x: x[0] - x[1], axis = 1), True)
df['contract_duration'].astype('int')
# df['contract_duration']

0         2
1         0
2         3
3         8
4         3
         ..
14358     5
14359     1
14360    10
14361     1
14362     2
Name: contract_duration, Length: 14363, dtype: int32

In [26]:
df = df.drop(labels = ['contract_end_year', 'club_join_date'], axis=1) 
# df.head(5)

#### Identify correct question types for each Category | Text columns & Check for Consistency & Check Nan

##### Inconsistent Categorical

##### positions

In [27]:
# display.Image(r'playing-positions.jpg')

In [28]:
df.positions = df.positions.astype(str)
# df.positions

In [29]:
# df.positions.value_counts() 
# df.positions.unique()

In [30]:
# df.positions.value_counts()

In [31]:
# df.positions.isna().sum()

##### nationality

In [32]:
# df.nationality.value_counts()

In [33]:
# df.nationality.isna().sum()

##### preferred_foot

In [34]:
# df.preferred_foot.value_counts()

In [35]:
# df.preferred_foot.isna().sum()

##### work_rate

In [36]:
# df.work_rate.value_counts()

In [37]:
# df.work_rate.isna().sum()

##### body_type

In [38]:
body_type = dict(df.body_type.value_counts())
# df.body_type.value_counts()

In [39]:
# in col body type we found inconsistent Body type
inconsistent = [key for key, val in body_type.items() if val == 1]
# inconsistent

In [40]:
df=df[~df.body_type.isin(inconsistent)]
# df.body_type.value_counts()

In [41]:
# df.body_type.isna().sum()

##### club_team

In [42]:
# df.club_team.value_counts()

In [43]:
# in col body type we found inconsistent data
club_team = dict(df.club_team.value_counts())
inconsistent = [key for key, val in club_team.items() if val < 13]
# inconsistent

In [44]:
df=df[~df.club_team.isin(inconsistent)]
# df.club_team.value_counts()

In [45]:
# df.club_team.value_counts()[:20]

In [46]:
# df.club_team.value_counts()[50:70]

In [47]:
# df.club_team.value_counts()[-20:]

In [48]:
inconsistent = ['South Africa', 'Paraguay']
df=df[~df.club_team.isin(inconsistent)]
# df.club_team.value_counts()

In [49]:
df.club_team.fillna(value= df.club_team.value_counts().index[0], inplace=True)

In [50]:
# df.club_team.isna().sum()

In [51]:
# df.club_team.value_counts().index[0]

##### national_team

In [52]:
# df.national_team.value_counts()[38:]
# df.national_team.unique()

In [53]:
# in col body type we found inconsistent data
national_team = dict(df.national_team.value_counts())
inconsistent = [key for key, val in national_team.items() if val < 4]
# inconsistent

In [54]:
df=df[~df.national_team.isin(inconsistent)]
# df.national_team.value_counts()

In [55]:
inconsistent = ['FC Porto', 'Club AmÃ©rica', 'BSC Young Boys', 'Pachuca', 'Sporting CP', 'Cruz Azul']
df=df[~df.national_team.isin(inconsistent)]
# df.national_team.value_counts()

In [56]:
# here is 10758 nan
# df.national_team.isna().sum()

In [57]:
df.national_team.fillna(value= df.national_team.value_counts().index[0], inplace=True)

In [58]:
# df.national_team.isna().sum()

In [59]:
# df.national_team_position = df.national_team_position.astype(str)
# df.national_team_position

In [60]:
# df.national_team_position.value_counts()

In [61]:
df.national_team_position.fillna(value= df.national_team_position.value_counts().index[0], inplace=True)

In [62]:
# here is 10758 nan
# df.national_team_position.isna().sum()

##### Tags

In [63]:
# here is 10258 nan
# df.tags.value_counts()
# df.tags.isna().sum()

##### traits

In [64]:
# here is 10258 nan
# df.traits.value_counts()
# df.tags.isna().sum()

##### club_position

In [65]:
# df.club_position.isna().sum()

In [66]:
df.club_position.fillna(value= df.club_position.value_counts().index[0], inplace=True)

##### national_team_position

In [67]:
# df.national_team_position.isna().sum()

#### Numeric Check Nan and Replace It with Mean

In [68]:
# age
# df.age.isna().sum()

In [69]:
# height
# df.height_cm.isna().sum()

In [70]:
# weight
# df.weight_kgs.isna().sum()

In [71]:
# overall
# df.overall_rating.isna().sum()

In [72]:
# potentail
# df.potential.isna().sum()

In [73]:
# wage
df.wage.fillna(value= df.wage.mean(), inplace=True)

In [74]:
# df.wage.isna().sum()

In [75]:
# df.wage.value_counts()

In [76]:
# international_reputation(1-5)
# df['international_reputation(1-5)'].isna().sum()

In [77]:
# weak_foot(1-5)
# df['weak_foot(1-5)'].isna().sum()

In [78]:
# skill_moves(1-5)
# df['skill_moves(1-5)'].isna().sum()

In [79]:
# release_clause_euro
# df['release_clause_euro'].isna().sum()

In [80]:
df.release_clause_euro.fillna(value= df.release_clause_euro.mean(), inplace=True)
# df['release_clause_euro']

In [81]:
# club_rating
# df['club_rating'].isna().sum()

In [82]:
# club_jersey_number
# df['club_jersey_number'].isna().sum()

In [83]:
# club_jersey_number
# df['club_jersey_number'].isna().sum()

`I don't remove here null or not Bacuase These Columns will delete`

In [84]:
# national_rating
# df['national_rating'].isna().sum()

In [85]:
# national_jersey_number
# df['national_rating'].isna().sum()

`untill here`

In [86]:
# crossing
# df['crossing'].isna().sum()

In [135]:
# for index, col in enumerate(df.columns):
#     print("index: ", index, " col: ", col)

In [88]:
# df.isna().sum()[29:63]

In [89]:
# tags & traits  not important
# df.isna().sum()[61:63]

#### Powers of Player In each Position

In [90]:
# df.isna().sum()[63:-2]

In [91]:
for i in range(63,90):
    df.iloc[:,i].fillna(value= df.iloc[:,i].value_counts().index[0], inplace=True)
# df.isna().sum()[63:-2]

#### Value Column

In [92]:
# df.value.isna().sum()

In [93]:
df.value.fillna(value= df.value.mean(), inplace=True)

In [94]:
# df.value.isna().sum()

In [95]:
# dict(df.value.value_counts())

#### Fill Nan

In [96]:
# df.isna().sum()

#### Independent and Dependent Variables

In [97]:
def solve(row, cols):
    # print(row)
    row[0:2].astype(str)
    positions = (','.join(row[0:2])).split(',')
    for pow in range(2,len(row[2:])+2):
        flag = False
        for pos in positions:
            if cols[pow] == pos:
                flag = True
                break
        if flag:
            values = row[pow].split('+')
            res = int(values[0]) + int(values[1])
            row[pow] = str(res)
        else:
            values = row[pow].split('+') 
            row[pow] = values[0]
    return row

In [98]:
cols = ['club_position', 'national_team_position',
        'LS', 'ST', 'RS', 'LW', 'LF', 'CF',
        'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM',
        'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
        'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB']
 
df[cols] =  df[cols].apply(solve, args=(cols,), axis=1)

In [99]:
# df

In [100]:
# df.info()

##### Convert Columns Type

In [101]:
# convert columns Type 
df.iloc[:,63:-2] = df.iloc[:,63:-2].astype('int')
# df.RWB

#### drop Columns Not Important

In [102]:
drop_cols = ['id', 'name', 'full_name', 'birth_date', 'positions', 'nationality', 
             'club_team', 'club_position', 'club_jersey_number', 'national_team',
             'national_rating', 'national_team_position',
             'national_jersey_number', 'tags', 'traits']
# df[drop_cols]
df = df.drop(labels=drop_cols, axis=1)
# df.columns

In [103]:
# df.columns[:17]

In [104]:
# df.iloc[:,:17]

#### Feature Encoding

In [105]:
# preferred_foot
df.preferred_foot = [1 if i == 'Right' else 0 for i in df.preferred_foot]

In [106]:
# df.preferred_foot.value_counts()

In [107]:
# df.iloc[:,:17]

In [108]:
# df.work_rate.value_counts()

In [109]:
# df.body_type.value_counts()

In [110]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [111]:
# X

In [112]:
# y

In [113]:
# display.Image('player bio.jpg')

In [114]:
dic_work_rate = {'High':2,'Medium':1,'Low':0}

In [115]:
def WRA(i):
    i = i.split('/ ')
    return dic_work_rate[i[0]]
def WRD(i):
    i = i.split('/ ')
    return dic_work_rate[i[1]]

In [116]:
X['Wark Rate Attcking'] = [WRA(i) for i in df.work_rate]

In [117]:
X['Wark Rate Detensivel'] = [WRD(i) for i in df.work_rate]

In [118]:
# X.iloc[:,-3:][:4]

In [119]:
# X.work_rate[:4]

In [120]:
X = X.drop(labels='work_rate', axis=1)

In [121]:
# X.iloc[:,:13]

In [122]:
# display.Image("body type 2.jpg")
# df.body_type.value_counts()

In [123]:
# display.Image("body type.jpg")

In [124]:
# X = pd.get_dummies(X)
def BT(k, i):
    i = i.split('_')
    if k == i[2]:
        k = 1
    else:
        k = 0
    return k

body_type_cols = ['body_type_Lean', 'body_type_Normal', 'body_type_Stocky']
for i in body_type_cols:
    X[i] = [BT(k, i) for k in df.body_type]
X = X.drop(labels = 'body_type', axis = 1)

## Remove outliers

In [ ]:
new_df = []
# print(data.columns)
for col in X.columns:
    ''' Detection '''
    # IQR
    Q1 = np.percentile(data[col], 25,
                       interpolation = 'midpoint')

    Q3 = np.percentile(data[col], 75,
                       interpolation = 'midpoint')
    # print(Q1)
    # print(Q3)
    IQR = Q3 - Q1
    # print("Old Shape: ", data.shape)
    # print(IQR)
    # # Upper bound
    # upper = np.where(data.wage >= (Q3+1.5*IQR))
    upper = (Q3+1.5*IQR)
    lower = (Q1-1.5*IQR) 
    f = list(data[col]) 
    for i in range(len(f)):
        if f[i] >= upper:
            f[i]=Q3
        elif f[i] <= lower:
            f[i]=Q1
    new_df.append(f)

In [ ]:
i = 0
for col in data.columns:
    X[col] = new_df[i]
    i += 1

In [125]:
# X.iloc[:,:][:4]

In [126]:
# X.columns

In [127]:
# X.isna().sum()[:20]

In [128]:
# X.isna().sum()[20:]

#### Save Data Cleaned

In [129]:
# X

In [130]:
# y

In [131]:
df = X
df['value'] = y

In [ ]:
columns = df.columns
new_nan_data = {}
for c in columns:
    if all_df[c].isna().any():
        if all_df[c].dtypes != np.object:
            median = all_df[c].median()
            new_nan_data[c] = median
            df[c] = all_df[c].replace(np.NaN, median)
        else:
            mfv = all_df[c].mode()[0]
            new_nan_data[c] = mfv
            df[c] = all_df[c].replace(np.NaN, mfv)
print(new_nan_data)

In [132]:
df.to_csv('player-value-prediction-cleaned.csv')

In [133]:
# len(df.columns)

## `End PreProcessing Phase`

## `This Function Created To Do it in new Test Data`

In [15]:

# ========================================================================================================================
def PreProcessing_Phase(df_name):
    #     Start PreProcessing

    # #### import libraries

    import numpy as np
    import pandas as pd
    import math

    # #### Explorality Data Analysis

    # read data
    df = pd.read_csv(df_name)
    
    # #### Number of Respondents vs. Rows

    # #### Time Stamps

    # ##### birth_date

    df['birth_date'] = df['birth_date'].astype('datetime64[ns]')

    # ##### club_join_date

    df['club_join_date'] = df['club_join_date'].astype('datetime64[ns]')

    df.club_join_date = df.club_join_date.dt.year

    df.club_join_date.fillna(value=new_nan_data['club_join_date'], inplace=True)

    # ##### contract_end_year

    df['contract_end_year'] = df['contract_end_year'].astype('datetime64[ns]')

    df.contract_end_year = df.contract_end_year.dt.year

    df.contract_end_year.fillna(value=new_nan_data['contract_end_year'], inplace=True)

    # ##### contract_duration

    contract = df[['contract_end_year', 'club_join_date']]

    df.insert(len(df.columns) - 1, "contract_duration", contract.apply(lambda x: x[0] - x[1], axis=1), True)
    df['contract_duration'].astype('int')

    df = df.drop(labels=['contract_end_year', 'club_join_date'], axis=1)
 
     
    def fillNan(df):
        
        if len(df) == 1:
            df.fillna(value='0', inplace=True)    
        else:
            df.fillna(value=new_nan_data[df], inplace=True)
        return df

    # #### Identify correct question types for each Category | Text columns & Check for Consistency & Check Nan

    # ##### Inconsistent Categorical

    # ##### positions

    df.positions = df.positions.astype(str)

    # #### Fill Nan
    for i in range(len(df.columns)):
        df.iloc[:, i] = fillNan(df.iloc[:, i])
 
 
    # #### Independent and Dependent Variables

    def solve(row, cols):
        # print(row)
        row[0:2].astype(str)
        positions = (','.join(row[0:2])).split(',')
        for pow in range(2, len(row[2:]) + 2):
            flag = False
            for pos in positions:
                if cols[pow] == pos:
                    flag = True
                    break
            if flag:
                values = row[pow].split('+')
                res = int(values[0]) + int(values[1])
                row[pow] = str(res)
            else:
                values = row[pow].split('+')
                row[pow] = values[0]
        return row

    cols = ['club_position', 'national_team_position',
            'LS', 'ST', 'RS', 'LW', 'LF', 'CF',
            'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM',
            'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
            'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB']
    # df[cols] = df[cols].astype(str)
    
    df[cols] = df[cols].apply(solve, args=(cols,), axis=1)

    # ##### Convert Columns Type

    # convert columns Type
    df.iloc[:, 63:-2] = df.iloc[:, 63:-2].astype('int')

    # #### drop Columns Not Important

    drop_cols = ['id', 'name', 'full_name', 'birth_date', 'positions', 'nationality',
                 'club_team', 'club_position', 'club_jersey_number', 'national_team',
                 'national_rating', 'national_team_position',
                 'national_jersey_number', 'tags', 'traits']

    df = df.drop(labels=drop_cols, axis=1)

    # #### Feature Encoding

    # preferred_foot
    df.preferred_foot = [1 if i == 'Right' else 0 for i in df.preferred_foot]

    X = df.iloc[:, :-1]
    y = df.iloc[:, -1]

    dic_work_rate = {'High': 2, 'Medium': 1, 'Low': 0}

    def WRA(i):
        i = i.split('/ ')
        return dic_work_rate[i[0]]

    def WRD(i):
        i = i.split('/ ')
        return dic_work_rate[i[1]]

    X['Wark Rate Attcking'] = [WRA(i) for i in df.work_rate]

    X['Wark Rate Detensivel'] = [WRD(i) for i in df.work_rate]

    X = X.drop(labels='work_rate', axis=1)

    def BT(k, i):
        i = i.split('_')
        if k == i[2]:
            k = 1
        else:
            k = 0
        return k

    body_type_cols = ['body_type_Lean', 'body_type_Normal', 'body_type_Stocky']
    for i in body_type_cols:
        X[i] = [BT(k, i) for k in df.body_type]
    X = X.drop(labels='body_type', axis=1)

    # #### Save Data Cleaned

    df = X 

    df.to_csv('test_data_cleaned.csv')
    print(df)


# ## `End Function Pre-Processing`

       id          name         full_name birth_date  age  height_cm  \
0  210824  F. Tchenkoua  Fabien Tchenkoua 1992-10-01   26     172.72

   weight_kgs positions nationality  overall_rating  ...   CDM   RDM   RWB  \
0        73.9     LM,RM    Cameroon              64  ...  51+2  51+2  57+2

     LB   LCB    CB   RCB    RB  contract_duration value
0  56+2  50+2  50+2  50+2  56+2                -48   NaN

[1 rows x 91 columns]
0    210824
Name: id, dtype: int64
0    F. Tchenkoua
Name: name, dtype: object
0    Fabien Tchenkoua
Name: full_name, dtype: object
0   1992-10-01
Name: birth_date, dtype: datetime64[ns]
0    26
Name: age, dtype: int64
0    172.72
Name: height_cm, dtype: float64
0    73.9
Name: weight_kgs, dtype: float64
0    LM,RM
Name: positions, dtype: object
0    Cameroon
Name: nationality, dtype: object
0    64
Name: overall_rating, dtype: int64
0    65
Name: potential, dtype: int64
0    1000
Name: wage, dtype: int64
0    Right
Name: preferred_foot, dtype: object
0    1
Name: international_reputation(1-5), dtype: int64
0    3
Name: weak_foot(1-5), dtype: int64
0    3
Name: skill_moves(1-5), dtype: int64
0    High/ Medium
Name: work_rate, dtype: object
0    Normal
Name: body_type, dtype: object
0    801000
Name: release_clause_euro, dtype: int64
0    FC Carl Zeiss Jena
Name: club_team, dtype: object
0    63
Name: club_rating, dtype: int64
0    SUB
Name: club_position, dtype: object
0    7
Name: club_jersey_number, dtype: int64
0   NaN
Name: national_team, dtype: float64
0   NaN
Name: national_rating, dtype: float64
0   NaN
Name: national_team_position, dtype: float64
0   NaN
Name: national_jersey_number, dtype: float64
0    54
Name: crossing, dtype: int64
0    60
Name: finishing, dtype: int64
0    42
Name: heading_accuracy, dtype: int64
0    57
Name: short_passing, dtype: int64
0    57
Name: volleys, dtype: int64
0    70
Name: dribbling, dtype: int64
0    48
Name: curve, dtype: int64
0    36
Name: freekick_accuracy, dtype: int64
0    41
Name: long_passing, dtype: int64
0    68
Name: ball_control, dtype: int64
0    85
Name: acceleration, dtype: int64
0    83
Name: sprint_speed, dtype: int64
0    79
Name: agility, dtype: int64
0    61
Name: reactions, dtype: int64
0    80
Name: balance, dtype: int64
0    66
Name: shot_power, dtype: int64
0    47
Name: jumping, dtype: int64
0    53
Name: stamina, dtype: int64
0    61
Name: strength, dtype: int64
0    61
Name: long_shots, dtype: int64
0    30
Name: aggression, dtype: int64
0    49
Name: interceptions, dtype: int64
0    64
Name: positioning, dtype: int64
0    54
Name: vision, dtype: int64
0    58
Name: penalties, dtype: int64
0    57
Name: composure, dtype: int64
0    40
Name: marking, dtype: int64
0    50
Name: standing_tackle, dtype: int64
0    55
Name: sliding_tackle, dtype: int64
0    15
Name: GK_diving, dtype: int64
0    14
Name: GK_handling, dtype: int64
0    9
Name: GK_kicking, dtype: int64
0    10
Name: GK_positioning, dtype: int64
0    8
Name: GK_reflexes, dtype: int64
0   NaN
Name: tags, dtype: float64
0    Speed Dribbler (CPU AI Only)
Name: traits, dtype: object
0    62+2
Name: LS, dtype: object
0    62+2
Name: ST, dtype: object
0    62+2
Name: RS, dtype: object
0    65+2
Name: LW, dtype: object
0    64+2
Name: LF, dtype: object
0    64+2
Name: CF, dtype: object
0    64+2
Name: RF, dtype: object
0    65+2
Name: RW, dtype: object
0    63+2
Name: LAM, dtype: object
0    63+2
Name: CAM, dtype: object
0    63+2
Name: RAM, dtype: object
0    63+2
Name: LM, dtype: object
0    56+2
Name: LCM, dtype: object
0    56+2
Name: CM, dtype: object
0    56+2
Name: RCM, dtype: object
0    63+2
Name: RM, dtype: object
0    57+2
Name: LWB, dtype: object
0    51+2
Name: LDM, dtype: object
0    51+2
Name: CDM, dtype: object
0    51+2
Name: RDM, dtype: object
0    57+2
Name: RWB, dtype: object
0    56+2
Name: LB, dtype: object
0    50+2
Name: LCB, dtype: object
0    50+2
Name: CB, dtype: object
0    50+2
Name: RCB, dtype: object
0    56+2
Name: RB, dtype: object
0   -48
Name: contract_duration, dtype: int64
0   NaN
Name: value, dtype: float64
   age  height_cm  weight_kgs  overall_rating  potential  wage  \
0   26     172.72        73.9              64         65  1000

   preferred_foot  international_reputation(1-5)  weak_foot(1-5)  \
0               1                              1               3

   skill_moves(1-5)  ...  CB  RCB  RB  contract_duration  Wark Rate Attcking  \
0                 3  ...  50   50  56                -48                   2

   Wark Rate Detensivel  body_type_Lean  body_type_Normal  body_type_Stocky  \
0                     1               0                 1                 0

   value
0      0

[1 rows x 79 columns]

In [ ]:
# clean test data
PreProcessing_Phase('Book1.csv')

## `End Function Pre-Processing`